.chat-group-form
  %h1 新規チャットグループ
  = form_for(@group) do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, 'グループ名', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: 'グループ名を入力してください', class: 'chat-group-form__input'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.collection_check_boxes :user_ids, User.all, :id, :nickname  do |b|
          = b.label { b.check_box + b.text }
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
          #chat-group-user-22.chat-group-user.clearfix
            %p.chat-group-user__name 田丸達郎
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", data:{ disable_with: "Save"}, class: "chat-group-form__action-btn"
